.column_name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
}

.thead:not(:first-child):hover {
  background-color: var(--mantine-color-gray-light);
  cursor: pointer;
}

.rows:hover {
  background-color: var(--mantine-color-gray-light);
}

.rows_select {
  background-color: var(--mantine-primary-color-light);
}

.search_field {
  font-weight: 400;
}

.icon_action_edit:hover {
  color: #fff;
  background-color: var(--mantine-color-blue-filled-hover);
}

.icon_action_remove:hover {
  color: #fff;
  background-color: var(--mantine-color-red-filled-hover);
}