.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  inline-size: 100%;
}

.fieldset {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}

.input_group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
}

.input {
  width: 48%;
}

@media (width <= 431px) {
  .input_group {
    display: flex;
    flex-direction: column;
  }
  .input {
    width: 100%;
  }
}
