.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.wrapper {
  width: 100%;
  overflow: auto;
}

.table tbody {
  font-size: 0.95rem;
}

.column_name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.thead:nth-child(1) {
  min-width: 50px;
}

.thead:nth-child(2) {
  min-width: 200px;
}

.thead:nth-child(3) {
  min-width: 130px;
}

.thead:nth-child(4) {
  min-width: 120px;
}

.thead:nth-child(5) {
  min-width: 160px;
}

.thead:nth-child(6) {
  min-width: 100px;
}

.thead:nth-child(7) {
  min-width: 200px;
}

.rows:hover {
  background-color: var(--mantine-color-gray-light);
}

.rows_select {
  background-color: var(--mantine-primary-color-light);
}
