.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.tableBox {
  display: block;
  overflow-y: auto;
}

.table tbody {
  font-size: 0.95rem;
}

.tableHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.flexGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  @media (max-width: 431px) {
    justify-content: center;
  }
}

.actionButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.icon {
  width: 18px;
  height: 18px;
  stroke-width: 1.6;
}

.iconActionButtons {
  width: 20px;
  height: 20px;
  stroke-width: 1.6;
}

.tableNoData {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
}

.listItemsForCell {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

ul {
  margin: 0;
  padding: 0;
  color: inherit;
  list-style: none;
}
