.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputsGroupOnRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.inputsGroupOnColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.inputHeight {
  display: flex;
  flex-direction: column;
  height: 36px;
  justify-content: center;
}